html {
    font-family: arial, verdana, sans-serif;
}

span {
    margin: 20px;
}

li, ol, ul {
    color: hsla(0, 0%, 13%, 0.601);
   
}

img {
    border-radius: 16px;
    height: 250px;
    width: auto
}

.button {
    color: white;
    background-color: rgb(7, 90, 255);
    padding: 10px 20px 10px;
    border-radius: 24px;
    text-decoration: none;   
}

.spacer {
    height: 20px;
}

.card-container {
    width: 320px;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.card {
    background-color: rgb(226, 226, 226);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 16px;
}

.card-image {
    border-radius: 16px;
    margin-bottom:16px;
    width: 280px;
    height: 178px;

}

.button {
    display: block;
    margin-top: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}